@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: monospace;
  font-family: sans-serif;
}

h1{
  margin: 50px auto 0 auto;
  font-size: 3rem;
  line-height: 2;
}
h2{
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h1,h2{
  font-family:'Sacramento',sans-serif;
  color:#66BFBF;
}
h3{
  color: #11999E;
}
p{
    line-height: 2;
}
hr{
  border:dotted grey 6PX;
  border-bottom:none;
  width:4%;
  margin: 100px auto;
  border-width:5px;
  /* border-color:grey; */
}

a{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color:#eaf6f6;
}

.intro{
  width: 30%;
  margin: auto;
}
/* *{
  margin: 0;
} */
.top{
  padding-top: 100px;
  /* width:10%; */
  /* margin:0 auto; */
  position: relative;
  background-color: #e4f9f5;
}
.copy-right{
  /* color:white; */
  font-size: 0.75rem;
  padding: 20px 0;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  top:350px;
}
.top-cloud{
  position: absolute;
  top:40px;
  right:300px;
}
.skill-row{
  width: 50%;
  margin: 100px  auto 100px auto;
  text-align:left;
  line-height: 2;
}
.middle-container{
  margin-top: 100px;
}
.profile-img{
  width:20%;
}
.skill-img{
  width: 25%;
  float: left;
  margin: 0 30px 0 0;
}
.random-img{
  width: 25%;
  float: right;
  margin: 0 0 0 30px;
}
.bottom-container{
  color: white;
  margin-top:50px;
  padding: 30px;
  height:100px;
  background-color: #66BFBF;
}

.footer-link{
}
/* .web-des-para{
  clear:left;
}
.inn-para{
  clear:right;
} */
.contact-message{
  width:40%;
  margin:40px auto 60px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
